*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tommorow{
    color: yellow;
    background-color: green;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* Remove ClassList code here  now: */
.para2{
    color: lightgreen;
    font-size: 25px;
    font-weight: bold;
}
.dark{
    background-color: black;
    color: whitesmoke;
}