*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tommorow{
    color: yellow;
    background-color: green;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}